#root {
  background: #3b5998;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-logo {
  margin-top: 25px;
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  color: white;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.App-header h1 {
  margin: 0px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button:hover {
  cursor: pointer;
}

.Flex-Container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.post-Container {
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.post {
  width: 85%;
  color: white;
  list-style: none;
}

.post h2 {
  margin-bottom: 10px;
}

.post-List {
  width: 50%;
  text-align: left;
}

.single-post {
  width: 42%;
  display: flex;
  flex-direction: column;
}

.single-post h2 {
  text-align: left;
  color: #0f0f0f;
  font-size: 26px;
}

.single-post button {
  width: 25%;
  font-size: 16px;
  border-radius: 20px;
  margin: 0px 10px;
}

.single-post button:hover {
  background-color: rgb(119, 195, 220);
}

.Column-Layout {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
.input {
  font-size: 20px;
  width: 85%;
  padding: 10;
  margin: 5px 0px;
}

button {
  width: 20%;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  margin-top: 10px;
}
button:hover {
  background-color: rgb(119, 195, 220);
}